<form [formGroup]="mathForm">
  <div class="equation">
    {{ a }} + {{ b }} =
  </div>
  <input appAnswerHighlight formControlName="answer" />
</form>

<!--<div class="stats">-->
<!--  {{ secondsPerSolution | number: '1.1-3' }}-->
<!--</div>-->

<div style="position: relative;">
  <div class="time" *ngIf="!timer">
    <h3>Time:</h3>
    <app-timer></app-timer>
  </div>
</div>

<!--<div class="score">-->
<!--  score: {{ score }}-->
<!--</div>-->
<!--<p> score: {{score}} </p>-->
<!--<div class="game-container">-->
<!-- -->
<!--  <h3 class="score">Score: {{ score }}</h3>-->
<!--</div>-->
